#table{
  margin-top: 7%;
  padding: 15px 0px 5px 16px;
}

.table{
  margin-top: 50px;
  margin-bottom: 14%; 
}

td, th{
  text-align: center !important;
}

#attachfile{
  background-image: url('../_img/Icons/Icon_Attach.svg');
}

#hoLabel{
    display: inline-flex;
    justify-content: center;
    background: #3E3B7A;
    width: 100%;
    height: 60px;
    margin-top: 20px;    
}

.texto-peso{
    margin: 10px;
    color: white;
}


.subscribe button{
  margin-top: 20px;
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  border-color: #FDB171;
  border-width: 2px;
  border-style: solid;
  background: white;
  color: #FDB171;
  font-weight: bold;
  font-size: 150%;
}

.subscribe button:hover{
    background: #E87412;
    color: white;
    border-color: #E87412;
}


#add-campo{
  margin-top: 20px;
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  width: 20%;
  height: 45px;
  border-radius: 4px;
  color: white;  
  width: 100%;
  background: #FDB171;

}

#add-campo:hover{
    background: #E87412;

}

.form-control{    
    width: 100% !important;
    height: 35px !important;
    margin-bottom: 35px !important;
    background: none !important;
    border: none !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #3E3B7A !important;
    border-bottom: 1px solid #ccc !important;
}

.form-control::placeholder{
    color: #3E3B7A !important;;
}

#add-campo{
    width: 100%
}

#nome{
    right: 0px;
}

td button{
  border: none;
  background-color: transparent;
}

input::placeholder{
    color: #FDB171;
}

.data-cadastro{
    text-align: center;
    margin: 0px 0px 40px;
}

.subtitulo-centro{
    text-align: center; 
}

.input-cadastro{
    text-align: center;
    margin: 10px;
    width: 100%;
}

.alinhamento{
    display: flex;
}

.fake-input { 
    position: relative;
}

.fake-input input {
    border:none: background:#fff; display:block; width: 100%; box-sizing: border-box 
}

.fake-input img { 
    position: absolute; top: 2px; right: 5px 
}
