body{
  font-family: 'Work Sans', sans-serif;
  background-image: url('../_img/inicio/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: table;

}

#menu-icone{
    width: 45%;
   align-items: center;
 
}

#menu-icone:hover{
    cursor: pointer;
    box-sizing: border-box;
   border-color: #FDB171;
   border-width: 2px;
   border-style: solid;

}

.health{
    color: white;
    font-size: 100px;
    font-weight: bold;    
    position: absolute; 
    right: 40px; 
    bottom: 20px;
    z-index:10;
}