body{
  font-family: 'Work Sans', sans-serif;
  background-image: url('../_img/Login/backgroundLogin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: table;
}

.texto-perfil{
    margin: 10px;
    color: white;
}

#hoLabel{
    display: inline-flex;
    justify-content: center;
    background: #3E3B7A;
    width: 100%;
    height: 60px; 
    margin-top: 20px;   
}

#titleDiv{
  color: #FDB171;
  font-size: 30px;  
  margin-top: 100px;
  max-width: 500px;  
  height: 250px;
  background: #ffffff;
  padding: 20px;  

}

#acessBox{
  max-width: 500px;   
  height: 250px;
  padding: 30px 20px;
  background: #ffffff;
  margin: 20px;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

input {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    color: #FDB171;
} 

label{
    color: #3E3B7A;
    font-weight: bold;
}

#input-perfil{
    font-style:#FDB171;
}

#editar-perfil{
    margin-top: 5px;
    width: 40px; 
    height: 40px;"
    cursor: pointer;
}

#editar-perfil:hover{ 
    cursor: pointer;
}

input[type="text"],
input[type="email"], 
input[type="password"],
input[type="date"]
select{
    width: 100%;
    height: 35px;
    margin-bottom: 35px;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
    border-bottom: 1px solid #ccc;
}

input:focus{
  border-bottom: 1px solid #3D8790; 
  transition: all 0.3s;
}
.btn-success{
    background: #FDB171;
    width: 100%;
}

#menu-icone{
    width: 45%;
   align-items: center;
 
}

#menu-icone:hover{
    cursor: pointer;
    box-sizing: border-box;
   border-color: #FDB171;
   border-width: 2px;
   border-style: solid;

}

