body{
  font-family: 'Work Sans', sans-serif;
  background-image: url('../_img/Perfil/perfil.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: table;
}

.container-header{
    width: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perfilButton{
    background-color: #3E3B7A;
    border: none;
    color: white;
    margin: 10px 10px;
    font-size: calc(1.3rem + .6vw);
    padding: 7px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerIconInput{
    display: flex;
    align-items: center;
}

.imageSize{
    width: 70px;
}

.containerInput{
    color: #FDB171;
    width: 100%;
    display: flex;
    justify-content: start;
}

.containerInput label{
    display: block;
    width: auto;
    margin: 0px 6px;
}

.texto-perfil{
    margin: 10px;
    color: white;
}

#hoLabel{
    display: inline-flex;
    justify-content: center;
    background: #3E3B7A;
    width: 100%;
    height: 60px; 
    margin-top: 20px;   
}

#titleDiv{
  color: #FDB171;
  margin-top: 30px; 
  background: #ffffff;
  padding: 20px;
}

.dados{
    margin-top: 30%;
    font-size: 35px;
}

#input-perfil{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 300;
    color: #3E3B7A;
    border-bottom: 1px solid #ccc;    
}

#acessBox{
  padding: 30px 20px;
  background: #ffffff;
  margin: 20px 0px 20px 0px;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

input {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    color: #3E3B7A;
} 

#input-perfil{
    font-style:#FDB171;
}

#input-perfil::placeholder{
    color:#FDB171;
}

#editar-perfil{
    margin-left: 10px;
    width: 22px; 
    height: 22px;
}

input:focus{
  border-bottom: 1px solid #3D8790; 
  transition: all 0.3s;
}
#btn-success{
    margin: 30px 0;
    background: #FDB171;
    width: 100%;
    border-color:#FDB171
}

#btn-success:hover{
    background: #E87412; 
    border-color:#E87412;  
}

#dados-usuario{
    display: inline-flex;
    margin: 15% 0px;
    text-align: center;    
}

.dados-perfil{
    margin: 0 20px;
}

.nome-usuario{
    margin-top: 10px;
    color: #3E3B7A;
    font-size: 30px;
    font-weight: bold;
}

a{
  text-decoration: none;
}

#form-control{
    width: 100%;
    height: 35px;
    margin-bottom: 35px;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 300;
    color: #3E3B7A;
    border-bottom: 1px solid #ccc;
}

#form-control::placeholder{
    color:#3E3B7A;
}


#file-upload-button{
    width: 100%;
    background: #FDB171;
}


.conteinerPerfil{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteinerPerfil label{
  display: block;
  text-align: center;
  margin-top: 10px;
}

.conteinerDados{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.conteinerDados label{
  text-align: center;
  display: block;
  color: #FDB171;
  font-size: calc(1.3rem + .6vw);
}

#format-input{
    width: 100%;
    height: 35px;
    margin-bottom: 35px;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 300;
    color: #3E3B7A;
    border-bottom: 1px solid #ccc;
}

#format-input::placeholder{
    color:#3E3B7A;
}

